<link rel="preload" href="/fonts/ebgaramond-400.woff2" as="font" type="font/woff2" crossorigin>

{{- with .Site.Params.analytics.ga4 }}
<script>
  (function () {
    if (localStorage.getItem("cookie-consent") !== "accepted") return;
    var s = document.createElement("script");
    s.async = true;
    s.src = "https://www.googletagmanager.com/gtag/js?id={{ . }}";
    document.head.appendChild(s);
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    window.gtag = gtag;
    gtag("js", new Date());
    gtag("config", "{{ . }}", { anonymize_ip: true });
  })();
</script>
{{- end }}
